{
  "extends": [
    "plugin:prettier/recommended",
    "prettier",
    "kentcdodds",
    "kentcdodds/react",
    "kentcdodds/jsx-a11y",
    "plugin:@next/next/recommended",
    "plugin:cypress/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:yml/standard",
    "plugin:yml/prettier"
  ],
  "plugins": ["prettier", "cypress", "chai-friendly"],
  "rules": {
    "@babel/new-cap": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "import/extensions": [
      "warn",
      "never",
      {
        "css": "ignorePackages",
        "json": "ignorePackages",
        "md": "ignorePackages"
      }
    ],
    "import/default": 2,
    "import/export": 2,
    "import/namespace": 2,
    "import/named": 2,
    "import/newline-after-import": 2,
    "import/no-unresolved": [2, { "commonjs": true, "amd": true }],
    "import/no-extraneous-dependencies": 2,
    "import/order": "error",

    "jsx-a11y/anchor-is-valid": "off",

    "jsx-a11y/accessible-emoji": "off",
    "react/jsx-sort-props": ["warn", { "reservedFirst": ["key"] }],
    "react/react-in-jsx-scope": ["off"],
    "cypress/no-unnecessary-waiting": "warn",
    "@babel/no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  },
  "overrides": [
    {
      "files": ["**/*.(d.)?ts(x)?"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {}
    },
    {
      "files": ["*.yaml", "*.yml"],
      "parser": "yaml-eslint-parser"
    }
  ]
}
