[build]
  command = "yarn netlify-export"
  publish = "out"

[[plugins]]
  package = "@netlify/plugin-lighthouse"

  [plugins.inputs.thresholds]
    performance = 0.77
    accessibility = 1
    best-practices = 0.93
    seo = 0.91
    pwa = 0.3

  [plugins.inputs]
    output_path = "lighthouse.html"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[plugins]]
  package = "netlify-plugin-cache-nextjs"

[[plugins]]
  package = "netlify-plugin-image-optim"
