@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/inter-var-latin.woff2) format("woff2");
}

img {
  aspect-ratio: attr(width) / attr(height);
}

@layer components {
  .helper-link-cover::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/* Temporary workaround for Google Docs-generated Home Page markup */
.home-page-content table::after {
  content: " ";
  display: block;
  width: 100%;
  border-top: 0.0625rem solid #ccc;
  margin: 1rem 0;
}
.home-page-content table h2,
.home-page-content table h3 {
  margin-bottom: 1rem;
}
.home-page-content table td {
  padding: 0 !important;
  border: none !important;
}
.home-page-content table p * {
  font-size: 1rem !important;
}
.home-page-content table p,
.home-page-content table p *,
.home-page-content table li,
.home-page-content table li * {
  line-height: 1.375;
}
.home-page-content table li {
  padding-bottom: 0.5rem !important;
}
.home-page-content table ul li::before {
  color: #99d1ff;
}
.home-page-content table p:first-child + ul {
  margin-top: 1rem;
}
.home-page-content *:empty {
  display: none;
}

.home-page-content [id]:before,
.prose [id]:before {
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: 6rem;
  margin-top: -6rem;
}

/* override tailwind typography for Google Docs-generated content */
/*
.prose table {
  @apply text-base my-0;
}
.prose table::after {
  @apply my-2 w-full block border-t border-gray-300;
  content: " ";
}
.prose table td {
  padding: 0;
}
.prose *:empty,
.prose table + hr {
  display: none;
}
.prose h2:first-child,
.prose p:first-child {
  @apply mt-0;
}
.prose h3 {
  @apply leading-snug;
}
 */

/* override nprogress.css */
#nprogress .bar {
  background: #f3f4f6 !important;
}

#nprogress .peg {
  box-shadow: 0 0 0.625rem #f3f4f6, 0 0 0.3125rem #f3f4f6 !important;
}

#nprogress .spinner-icon {
  border-top-color: #f3f4f6 !important;
  border-left-color: #f3f4f6 !important;
}
