@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  max-width: 40rem;
  margin: 0 auto;
}

table {
  width: 40rem;
}

img {
  aspect-ratio: attr(width) / attr(height);
}
