# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Deploy

on:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - run: yarn
      - run: yarn run netlify-export

      - run: yarn global add netlify-cli@4.1.2
      - run: netlify deploy --prod --dir=out --message "GitHub Actions"
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
