on:
  push:
    branches: [main]
  # TODO: reactivate after testing done
  # pull_request:
  #   types: [opened, synchronize]

name: CI

jobs:
  install-deps:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - run: yarn install --frozen-lockfile
      - run: yarn run mirror-box
      - uses: actions/cache@v1
        id: cache-deps
        with:
          path: "."
          key: ${{ github.sha }}

  lint:
    name: ESLint
    runs-on: ubuntu-latest
    needs: install-deps
    steps:
      - uses: actions/cache@v1
        id: restore-deps
        with:
          path: "."
          key: ${{ github.sha }}
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - run: yarn run lint
        env:
          CI: true

  type-check:
    name: Type check
    runs-on: ubuntu-latest
    needs: install-deps
    steps:
      - uses: actions/cache@v1
        id: restore-deps
        with:
          path: "."
          key: ${{ github.sha }}
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - run: yarn run type-check
        env:
          CI: true

  test:
    name: Unit and integration tests
    runs-on: ubuntu-latest
    needs: install-deps
    steps:
      - uses: actions/cache@v1
        id: restore-deps
        with:
          path: "."
          key: ${{ github.sha }}
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - run: yarn run test
        env:
          CI: true
      - uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
